!!! 5
%html
  %head
    %title Musex
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body

    %header
      .container
        %h1.logo
          %span mu
          %strong sex

        - if user_signed_in?
          .user-stuff
            .user= current_user.name
            = link_to 'Sign Out', destroy_user_session_url, method: :delete

    #main
      .container
        = yield

    = javascript_include_tag 'application'
